{
  "presets": ["react"],
  "plugins": [
    "transform-class-properties",
    [
      "transform-regenerator",
      {
        "asyncGenerators": false,
        "generators": false,
        "async": false
      }
    ]
  ]
}
